<footer class="site-footer">
  <div class="wrap">
    <div class="footer-top">
      <div class="footer-brand">
        <a href="index.html" class="brand footer-brand-mark"><img class="brand-mark" src="assets/logo/vively-logo-black.png" alt="Vively" width="1877" height="693"></a>
        <p>크리에이터와 현지 실행력을 통해 한국 브랜드의 글로벌 성장을 만듭니다.</p>
      </div>
      <div class="footer-col">
        <h5>메뉴</h5>
        <a href="for-brand.html">For Brand</a>
        <a href="campaigns.html">For Creators</a>
        <a href="work.html">Our Work</a>
        <a href="story.html">Brand Story</a>
        <a href="contact.html">Contact Us</a>
      </div>
      <div class="footer-col">
        <h5>문의</h5>
        <p><a href="mailto:vivelyglobal@gmail.com">vivelyglobal@gmail.com</a></p>
        <p>서울 성수동</p>
        <a href="https://www.instagram.com/vively.global/" target="_blank" rel="noopener">Instagram</a>
      </div>
    </div>
    <div class="footer-legal">
      <span>상호: Vively</span>
      <span>사업자등록번호: 486-56-00588</span>
      <span>주소: 서울 성수동</span>
      <span>이메일: <a href="mailto:vivelyglobal@gmail.com">vivelyglobal@gmail.com</a></span>
    </div>
    <div class="footer-bottom">
      <p>Copyright <span id="year"></span> Vively. All rights reserved.</p>
      <p class="footer-tagline">서울에서 시작해 글로벌로.</p>
    </div>
  </div>
</footer>
